body{
    background-color: rgb(16, 102, 16);
}

.card {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    height: 290px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    position: relative;

}


.card:before {
   
    position: absolute;
    top: 0;
    left: 0;
    font-size: 65px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color:black
}


.card:after {
    
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 65px;
}

.card.spades:before, .card.spades:after{content:'\2660'}
.card.clubs:before, .card.clubs:after{content:'\2663'}
.card.hearts:before, .card.hearts:after{content:'\2665'; color: red;}
.card.diamonds:before, .card.diamonds:after{content:'\2666';color: red;}

.button{
    border-radius: 5px;
    display: block;
    margin: auto;
    background-color: white;
    position: relative;
    margin-top:10px;
    
}
.inputs{
    display:grid;
    margin:auto;
    margin-top:20px;
    width: 200px;
    

}